/* TYPOGRAPHY */

body {
	background-color: #DAE7DD;
  color: #111111;
  font-family: 'Roboto Serif';
  font-size: 1.2rem;
  line-height: 1.4rem;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans';
}

h1, h2 {
  font-weight: normal;
  margin: 0;
}

p {
/*  color: #9b9b9b;*/
}

a:link,
a:visited {
  color: #4990e2;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

.smalltype {
	font-size: small;
}

/* HEADER */

.header {
	background-image: url("/assets/images/header.jpg");
}

.header__title {

}

.header__contact {

}

.header__menu {
	background-color: #54B0A7;
}
