/* TYPOGRAPHY */

body {
  background-color: #DAE7DD;
  color: #111111;
  font-family: 'Open Sans', Optima, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4rem;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: 'Crimson Pro', Times, 'Times New Roman', serif;
}

h1, h2 {
  font-weight: normal;
  margin: 0;
}

p {
  color: #333;
}

a:link,
a:visited {
  color: #4990e2;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

.smalltype {
  font-size: small;
}

/* HEADER */

.header {
  font-weight: 600;
}

.header__bg {
  background-image: url("/assets/images/header.jpg");
  background-size: 100% 100%;
  padding: 5.2rem 0 0.8rem;
  text-shadow: 1px 1px 2px black;
}

.header__flex {
  display: flex;
  justify-content: space-between;
}

.header__title h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

.header__title p {
  padding: 0;
  margin: 0;
}

.header p, .header h2 {
  color: white;
  font-family: 'Open Sans', Optima, Helvetica, Arial, sans-serif;
}

.header a, .header a:link, .header a:visited {
  color: white;
}

.header__contact {
  text-align: right;
}

.header__contact a {
  display: block;
}

.header__contact a[href*="tel"] {
  font-size: larger;
}

.menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*.menu {
  text-align: center;
}*/

.header__menu {
  background-color: #54b0a7;
  color: white;
  font-size: 1.1rem;
}

.header__menu li {
  padding: 0;
}

.header__menu li a {
  color: white;
  display: block;
  padding: 0.6rem 0.8rem;
  text-decoration: none;
}

.header__menu .active,
.header__menu a:hover {
  background-color: #006e6f;
}

.wrapper {
  margin: 0 auto;
  max-width: 60rem;
}

.hero {
  background-image: url("/assets/images/hero.jpg");
}
